:root{
    --hell-green-color: #C5E0B4;
    --text-field-bg: #A9D18E;
}

.title{
    font-size: 36px;
}

body{
    width: 100%;
}

main{
    background: white;
}

#form_registration, #welcomeDiv{
  background: var(--hell-green-color);
}
.title{
    font-size: 36px;
}
.big-text-field{
    width: 400px;
    height: 150px;
    background-color: var(--text-field-bg);
}