:root{
    --hell-green-color: #C5E0B4;
    --text-field-bg: #A9D18E;
}

.title{
    font-size: 30px;
}

body{
    width: 100%;
}

main{
    background: white;
}

#form_registration, #welcomeDiv{
  background: var(--hell-green-color);
}
.title{
    font-size: 36px;
}
.big-text-field{
    width: 400px;
    height: 150px;
    background-color: var(--text-field-bg);
    margin-left: auto;
    margin-right: auto;
}
.middle-section{
    height: auto;
    min-height: 200px;
    margin-left: auto;
    margin-right: auto;
}
.bottom-section{
    width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.right-arrow{
    transform:rotate(180deg);
}
.div-container{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    width: 402px;
    height: auto;
}
