<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Fasten">
    <meta name="description" content="????">
    <meta name="keywords" content="??">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fasten NAME HERE</title>
    <link href="../static/index.css" rel="stylesheet" type="text/css">
    <link href="../static/bootstrap.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <a class="btn btn-primary" href="./mascotLevel.html" role="button" id="btn_to_mascotLevel" type="submit">Back</a>
  </body>
  <footer>
    <script src="../static/index.js"></script>
  </footer>
</html>
