<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Fasten">
    <meta name="description" content="????">
    <meta name="keywords" content="??">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fasten NAME HERE</title>
    <link href="../css/index.css" rel="stylesheet" type="text/css">
    <link href="../css/bootstrap/bootstrap.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <main class="d-flex justify-content-center h-100">
      <div id="welcomeDiv" class="w-75">
        <div>
          Congratulations! By choosing Good Fast you made the right decison.
        </div>
        <img src="../img/mascot_frosch.png">
        <img src="../img/trees_and_forest.png" class="w-100 align-self-end h-50">
      </div>
      <form id="form_registration" class="needs-validation w-75 d-none">
        <div class="title"> Registration </div>
        <div class="form-group row">
          <label for="input_name" class="col-md-4 col-form-label text-right">Name</label>
          <div class="col-md-6">
            <input type="name" class="form-control" id="input_name" placeholder="Name">
            <div class="invalid-feedback">
                Please enter your name.:D
            </div>
          </div>
          
        </div>
        <div class="form-group row">
            <label for="input_email" class="col-md-4 col-form-label text-right">E-Mail</label>
            <div class="col-md-6">
              <input type="name" class="form-control" id="input_email" placeholder="E-Mail">
              <div class="invalid-feedback">
                Please enter your E-Mail.:D
              </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="input_password" class="col-md-4 col-form-label text-right">Password</label>
            <div class="col-md-6">
              <input type="name" class="form-control" id="input_password" placeholder="Password">
              <div class="invalid-feedback">
                Please enter a password.:D
              </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="input_address" class="col-md-4 col-form-label text-right">Address</label>
            <div class="col-md-6">
              <input type="name" class="form-control" id="input_address" placeholder="Address">
              <div class="invalid-feedback">
                Please enter an address.:D
              </div>
            </div>
        </div>
        <a href="./mascot.html" id="btn_to_mascot_page" type="submit" onclick="saveRegistrationData()">
          Next
        </a>
    </form>
    </main>
    
  </body>
  <footer>
    <script src="../js/index.js"></script>
  </footer>
</html>
