<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Fasten">
    <meta name="description" content="????">
    <meta name="keywords" content="??">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fasten NAME HERE</title>
    <link href="../static/index.css" rel="stylesheet" type="text/css">
    <link href="../static/bootstrap.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <form id="form_choose_mascot" class="needs-validation">
        <div class="title"> Choose mascot </div>
        <div class="form-group row">
          <select class="custom-select" id="select_mascot">
            <option selected disabled>Choose your favorite mascot</option>
            <option id="avatar" value="1">Avatar</option>
            <option id="fu" value="2">Kongfu Panda</option>
          </select>
        </div>
    </form>
    <a class="btn btn-primary" href="./index.html" role="button">Back</a>
    <a class="btn btn-primary" href="./religion.html" role="button" id="btn_to_religion_page" type="submit">Next</a>
  </body>
  <footer>
    <script src="../js/index.js"></script>
  </footer>
</html>
