<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Fasten">
    <meta name="description" content="????">
    <meta name="keywords" content="??">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fasten NAME HERE</title>
    <link href="../static/index.css" rel="stylesheet" type="text/css">
    <link href="../static/bootstrap.css" rel="stylesheet" type="text/css">
  </head>
  <body onload="startChallengeProgram()">
    <div class="title" id="mascot_level"> Level 1 </div>
    <img id="mascot-img" class="img-fluid" src="../static/mascot_mix_bear.png" width="400" height=auto>
    <form>
        <div class="form-group row">
            <label for="mascot_points" class="col-sm-2 col-form-label">Points</label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control-plaintext" id="mascot_points" value="10">
            </div>
          </div>
    </form>
    <a class="btn btn-primary" href="./inChallenge.html" role="button" id="btn_to_in_challenge" type="submit" onclick="showInChallenge()">Show Day Countdown</a>
  </body>
  <footer>
    <script src="../static/index.js"></script>
  </footer>
</html>
